body{
    margin: 0px;
    padding: 0px;
    color: white;
    background-color: #1a9695;
    font-family: 'Oleo Script', cursive;
    font-size: 20px;
    box-sizing: border-box;
    
    
}
@media screen and (max-width: 760px) {
    .produce{
        display: flex;
        flex-direction: column;  
    }
}
/* Header Section */
h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:10px 10px 30px rgb(150, 179, 169);
    background-color: #1a9695;
    color: white;
    height: 60px;
    margin-top: 0px;
}
.produce {
    width: 90%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Input form */
.formData {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-right: 20px;
    box-shadow: 0px 0px 10px rgb(150, 179, 169);
    border-radius: 20px;
    font-size: 20px;
    font-weight: 100;
}
.formData .sheds {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    margin-top: 20px;
}
.formData > form {
    width: 100%;
    padding: 30px;
}
form > div > input[type="number"]{
        height: 25px;
}

/* Input Form buttons */
form > button {
    
    
    padding: 10px 20px;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fafafa;
    background: none;
    border: 2px solid #fafafa;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 800;
    margin: auto;
    margin-top: 20px;
   
}
form > button:hover {
    cursor: pointer;
    color: black;
}
h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 500;
    
}

/*Output Report */

.outputDisplay{
    overflow: auto;
    width: 100%;
    margin-right: 20px;
    box-shadow: 0px 0px 10px rgb(150, 179, 169);
    border-radius: 20px;
    font-size: 20px;
    font-weight: 100;
    margin-top: 30px;
    padding-bottom: 45%;
    margin-bottom: 20p;

   
    
}
#Title{
    text-align: left;
    margin: 20px;
}

#outputData{
    padding: 0px 20px;
    
} 
